
.App {
  height: 100vh;
  background-color: #fafafa;
}
.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.app__singup{
  display: flex;
  flex-direction: column;
}
.app__headerImage{
  object-fit: contain;
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postsRight{
  margin-left: 20px;
}